@import '../../theme/required/variables.scss';

.projects {
  position: relative;
  display: block;
  padding: $bufferSpace/2;
  background-color: $dmBlossom;
  @include rowDefault;
}

.list {
  display: block;
}

.project {
  display: block;
  font-size: rem($typeMe);
}

.title {
  font-weight: 500;
}
