.button {
  position: relative;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.primary {
  background-color: blue;
}

.danger {
  background-color: red;
}

.success{
  background-color: green;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
