.button {
  position: relative;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
}

.primary {
  background-color: blue;
}

.secondary {
  background-color: red;
}

.transactional {
  background-color: green;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
