@import '../../theme/required/variables.scss';

// Button defaults
// ------------------------------------------------------------------

%button {
  cursor: pointer;
  position: relative;
  padding: 0 2rem;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.2rem;
  transition-property: color;
  transition-duration: 0.5s;
  overflow: hidden;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);
  @include animationHacks;
  &:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: -40px;
		right: 0;
		bottom: 0;
    //width: 150%;
		background-color: rgba(0,0,0,0.2);
    transform: rotate(-90deg);
    transform-origin: -60px 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  @include link-active-styles {
    text-decoration: none;
    &:before {
      transform: rotate(0deg);
      transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    }
  }
  &:focus {
    outline: none;
  }
}

// Aria label style
// Allows us to have an aria unique label but shortend visual label
// ------------------------------------------------------------------

.a11y {
  position: relative;
	overflow: hidden;
	span {
		top: -10em;
		position: absolute;
		display: inline-block;
	}
	&:after {
		 content: attr(title);
		 display: block;
		 color: inherit;
	}
}

// Sizes
// ------------------------------------------------------------------

.default {
  font-size: rem($typeMe);
  line-height: $btnDefault;
  @extend %button;
}

.small {
  font-size: rem($typeS);
  line-height: $btnSmall;
  @extend %button;
}

.large {
  font-size: rem($typeL);
  line-height: $btnLarge;
  @extend %button;
}


// Styles
// ------------------------------------------------------------------

.primary {
  background-color: $dmActionRespond;
}

.secondary {
  background-color: $dmPrimeAccent;
}

.transactional {
  background-color: $dmSuccess;
}


// State
// ------------------------------------------------------------------

.disabled {
  cursor: not-allowed;
  background-color: grey;
  &:before {
    display: none;
  }
  @include link-active-styles {
    background-color: grey;
    animation-name: buzz;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    transform-origin: center;
  }
}

// Animation
// ------------------------------------------------------------------

@keyframes buzz {
  10% { transform: translateX(3px) rotate(2deg); }
  20% { transform: translateX(-3px) rotate(-2deg); }
  30% { transform: translateX(3px) rotate(2deg); }
  40% { transform: translateX(-3px) rotate(-2deg); }
  50% { transform: translateX(2px) rotate(1deg); }
  60% { transform: translateX(-2px) rotate(-1deg); }
  70% { transform: translateX(2px) rotate(1deg); }
  80% { transform: translateX(-2px) rotate(-1deg); }
  90% { transform: translateX(1px) rotate(0deg); }
  100% { transform: translateX(-1px) rotate(0deg); }
}
