// ----
// Consistent spacing
// ----

@mixin edgeBufferLeft {
	left: $bufferSpaceS;
	@include respond-to($vpRowBufferA) {
		left: $bufferSpaceM;
	}
}

@mixin edgeBufferRight {
	right: $bufferSpaceS;
	@include respond-to($vpRowBufferA) {
		right: $bufferSpaceM;
	}
}

// ----
// Standard rows
// ----

@mixin rowDefault {
	margin-left: auto;
	margin-right: auto;
	max-width: $containerMax;
	min-width: auto;
	position: relative;
	padding-left: $bufferSpaceS;
	padding-right: $bufferSpaceS;
	@include respond-to($vpRowBufferA) {
		padding-left: $bufferSpaceM;
		padding-right: $bufferSpaceM;
	}
}

// ----
// Helpers
// ----

// Oldschool clearfixing
@mixin pie-clearfix {
	&:after {
		content: "";
		display: table;
		clear: both; *zoom: 1;
	}
}

// ----
// Media queries with fallbacks if needed
// ----

// Widths only
@mixin respond-to($media-min) {
	@media screen and (min-width: $media-min) {
	    @content;
	}
}

@mixin respond-to-max($media-max) {
	@media screen and (max-width: $media-max - 1px) {
	    @content;
	}
}

@mixin respond-to-min-max($media-min, $media-max) {
	 @media screen and (min-width: $media-min) and (max-width: $media-max - 1px) {
	    @content;
	}
}

// Widths and heights
@mixin respond-to-both($media-w-min, $media-h-min) {
	@media screen and (min-width: $media-w-min) and (min-height: $media-h-min) {
	    @content;
	}
}

// Height
@mixin respond-to-height($media-min) {
	@media screen and (min-height: $media-min) {
	    @content;
	}
}

@mixin respond-to-height-max($media-max) {
	@media screen and (max-height: $media-max - 1px) {
	    @content;
	}
}
