@import 'color.scss';						   // Get brand colours
@import 'scale.scss';						   // Get type scale
@import 'measure.scss';		         // Widths / spacing of things
@import 'mixins.scss';						 // Mixins

// Font declarations
// ------------------------------------------------------------------

$fontBrand:     system-ui, sans-serif;
$fontVoice:     system-ui, sans-serif;
$fontMono:      fira-sans, monospace;

$fontDefault:   $fontBrand;
