// ---
// Widths & spacing
// ---

// Spacing
$bufferSpace:       80px;
$internalPadding:   25px;
$sectionSpacing:    60px;

// Viewports
$vpA: 300px;
$vpB: 600px;
$vpC: 800px;
$vpD: 1000px;
$vpE: 1200px;
$vpF: 1400px;
$vpMax: $vpF;

// Assigned viewports
$vpTable:           $vpC;
$vpMenu:            ($vpC + 100px);
$vpDeviceSafe:      800px;

// Maximum container if using set-max width. Often used in '.row'
$containerMax:      ($vpE + $bufferSpace*2);
