@import '../../theme/required/variables.scss';

.card {
  border: 1px solid #eee;
  position: relative;
  width: 300px;
  display: inline-block;
  box-shadow: 0 3px 1px rgba(0,0,0,0.1);
}

.container {
  position: relative;
}

.headingText {
  text-transform: uppercase;
}

.image {
  display: block;
  max-width: calc(100% + 2px);
  position: relative;
  top: -1px;
  left: -1px;
  height: auto;
}

.body {
  position: relative;
  padding: $spaceMe;
  background-color: #fff;
  &Text {
    margin-top: $spaceXs;
  }
}

.button {
  margin-top: $spaceS;
}
