@import '../../theme/required/variables.scss';

.card {
  border: 1px solid grey;
  position: relative;
  width: 300px;
}

.headingText {
  text-transform: uppercase;
}

.image {
  display: block;
  max-width: calc(100% + 2px);
  position: relative;
  top: -1px;
  left: -1px;
  height: auto;
}

.body {
  position: relative;
  padding: $spaceMe;
  &Text {
    margin-top: 10px;
  }
  .elementButton {
    margin-top: 20px;
  }
}
